
.header{
    display: block;
    text-align: center;
    border-style: none;
    border-radius: 5%;
    border: 15px;
    font-size: 2.5em;
    height: 14%;
}
.headerLine{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    width:80%;
}


.footer{
    height:14%;
    text-align: center;
    font-size: large;
    bottom: 0;
    position: fixed;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 3px;
    border-top: 3px dashed #111111;
    width:80%;
}

.container{
    box-sizing: border-box;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    height:70%;
}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 100px;
    grid-gap: 2px;
    min-height: 70px;
}

div .column1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    grid-column-start: 1;
    grid-column-end: 2;
}
div .column2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    grid-column-start: 2;
    grid-column-end: 3;
}
div .column3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    grid-column-start: 3;
    grid-column-end: 4;
}
div .column4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    grid-column-start: 4;
    grid-column-end: 5;
}
div .column5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    grid-column-start: 5;
    grid-column-end: 6;
}


.container1 {
    float: bottom;
    width: 100%;
    padding: 10px;
    background-color: white;
}
.boxes{
    margin-left: 1%;
    margin-right: 1%;
}
.container2 {
    float: bottom;
    width: 100%;
    padding: 10px;
    height: 200px;
    background-color: white;
}
.container3 {
    float: bottom;
    width: 100%;
    padding: 10px;
    height: auto;
    background-color: white;
}
#registerButton{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;

    width: 100%;
    padding: 20px 20px;
    margin: 15px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: lightseagreen;
    color: white;

}
#registerButton:hover{
    background-color: #0b8c84;
    color: white;
}
.container:after {
    content: "";
    display: table;
    clear: both;
    width: 80%;
}
.name{
    margin-left: 10%;
}

.first{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.details{
    font-size: larger;
}

#container {
    margin: 100px auto;
    width: 688px;
}
#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 671px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#cameraPopUp {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.popUpContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    width: -moz-fit-content;
}

video{
    display: block;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

canvas{
    display: none;
}

input[type=text], select {
    font-size: 1.3em;

    width: 100%;
    padding: 20px 20px;
    margin: 15px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

label{
    width: 100%;
    font-size: 1.5em;
    margin: 15px 10px;
}

.container2{
    width: 100%;
    height: 100%;

}
.imageClass{
    width: inherit;
    height: 200px;
}
#snapButtonInPopUp{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;

    width: 100%;
    padding: 12px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: lightseagreen;
    color: white;
}
#snapButtonInPopUp:hover{
    background-color: #0b8c84;
    color: white;
}

@media screen and (max-width: 480px) {
    #camera-stream{
        width: 100%;
    }

    .boxes{
        grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
        font-size: 1em;
    }
    div .column1{
        font-size: 1em;
    }
    div .column2{
        font-size: 1em;
    }
    div .column3{
        font-size: 1em;
    }
    div .column4{
        font-size: 1em;
    }
    div .column5{
        font-size: 1em;
    }
    .imageClass{
        width: 100%;
        height: 100%;
    }
    label{
        font-size: 1em;
    }
    input[type=text]{
        font-size: 1em;
        padding:10px 10px;
    }
    #registerButton{
        font-size: 1em;
        padding:10px 10px;
    }
    .container3{
        padding: 0px;
        padding-left: 10px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    #camera-stream{
        width: 100%;
    }

    .boxes{
        grid-template-columns: repeat(auto-fit,minmax(70px,1fr));
        font-size: 1.1em;
    }
    div .column1{
        font-size: 1em;
    }
    div .column2{
        font-size: 1em;
    }
    div .column3{
        font-size: 1em;
    }
    div .column4{
        font-size: 1em;
    }
    div .column5{
        font-size: 1em;
    }
    .imageClass{
        width: 100%;
        height: 100%;
    }
    label{
        font-size: 1.5em;
    }
    input[type=text]{
        font-size: 1em;
        padding:10px 10px;
    }
    #registerButton{
        font-size: 1.5em;
        padding:10px 10px;
    }
    .container3{
        padding: 0px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 769px) {
    #camera-stream {
        width: 100%;
    }

    .boxes {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        font-size: 1.2em;
    }

    div .column1 {
        font-size: 1.2em;
    }

    div .column2 {
        font-size: 1.2em;
    }

    div .column3 {
        font-size: 1.2em;
    }

    div .column4 {
        font-size: 1.2em;
    }

    div .column5 {
        font-size: 1.2em;
    }

    .imageClass {
        width: 100%;
        height: 100%;
    }

    label {
        font-size: 1.5em;
    }

    input[type=text] {
        font-size: 1.5em;
        padding: 15px 15px;
    }

    #registerButton {
        font-size: 1.5em;
        padding: 15px 15px;
    }

    .container{
        margin-left: 8%;
    }
}